/*=====================================
GENERAL SET-UP
=====================================*/

* {
    box-sizing: border-box;
    margin: 0;
}

html {
    font-family: 'Open Sans', sans-serif;
    color: #FFFFFF;
    background-color: #FF7f50;
}

.main-wrap {
    width: 1400px;
    margin: 0 auto;
}
    
ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

li {
    display: inline-block;
}

.title {
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    text-transform: uppercase;
}

.underline {
    width: 64px;
    height: 2px;
    border: none;
}

.descr {
    font-size: 14px;
}

.btn {
    display: inline-block;
    margin-bottom: 63px;
    padding: 10px 30px;
    background-color: transparent;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    font-size: 16px;
}

.btn:focus {
    outline: none;
}

.btn:hover {
    background-color: #FFFFFF;
    color: #86878B;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
}

.input-group__input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-bottom: 2px solid #ece9e9cc;
}

.input-group__input::placeholder {
    color: #b6aeaecc;
}

.facebook {
    background: url(../img/icons/facebook.png) center no-repeat;
}

.twitter {
    background: url(../img/icons/twitter.png)
}

.google-plus {
    background: url(../img/icons/google-plus.png)
}

.pinterest {
    background: url(../img/icons/pinterest.png);
}

.instagram {
    background: url(../img/icons/instagram.png);
}

.stumbleupon {
    background: url(../img/icons/stumbleupon.png)
}

.rss {
    background: url(../img/icons/rss.png);;
}

/*=====================================
NAVIGATION
=====================================*/

.nav {
    height: 71px;
    line-height: 15px;
    background-color: #212121;
}

.nav::before {    
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.nav__logo {
    display: inline-block;
    width: 79px;
    height: 27px;
    margin-top: 21px;
    margin-left: 150px;
    background: url(../img/axit-logo.png) center no-repeat;
    background-size: cover;
}

.nav__list {
    height: 15px;
    vertical-align: middle;
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: 700;
    color: #FFFFFF;
}

.nav__item:first-of-type {
    padding-left: 582px;
}

.nav__item {
    padding-left: 48px;
}

/*=====================================
INTRODUCTIONARY SECTION
=====================================*/

.intro {
    height: 641px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/bg/city-big.png) center no-repeat;
}

.intro-text-container {
    display: inline-block;
    width: 662px;
    padding-top: 110px;
    padding-left: 150px;
    text-align: left;
}

.intro-text-container__logo {
    height: 60px;
    width: 175px;
    background: url(../img/axit-logo.png) center no-repeat;
    background-size: cover;
}

.intro-text-container__title {
    padding-top: 33px;
}

.intro-text-container__underline {
    margin: 36px auto 30px 0;
    background-color: #FFFFFF;
}

.intro-text-container__descr {
    padding-bottom: 44px;
}

.intro-input-group__header {
    height: 54px;
    line-height: 54px;
    text-align: center;
    text-transform: capitalize;
    color: #000000;
    background-color: #F5F5F5;
}

.intro-input-group__header span {
    text-transform: uppercase;
    color: #FF8D2D;
}

.intro-input-group {
    display: inline-block;
    height: 368px;
    width: 360px;
    margin-left: 222px;
    background-color: #FFFFFF;
}

.intro-input-group__input-pass {
    padding-top: 50px;
}

form {
    width: 285px;
    margin: 0 auto;
}

.intro-input-group__submit-btn {
    width: 100%;
    background-color: #FF8D2D;
    border: none;
    color: #FFFFFF;
    padding: 20px 3px;
    text-decoration: none;
    margin: 50px 0;
    cursor: pointer;
}

/*=====================================
BIG SOCIAL MEDIA SECTION
=====================================*/

.social-media-container {
    height: 106px;
    background-color: #FFFFFF;
}

.social-media-container::before {    
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.social-media-text {
    display: inline-block;
    width: 360px;
    margin-left: 150px;
}

.social-media-text__title {
    padding-top: 13px;
    font-size: 20px;
    color: #333333;
}

.social-media-text__descr {
    padding-top: 12px;
    font-size: 14px;
    color: #86878B;
}

.social-media-nav {
    display: inline-block;
    vertical-align: middle;
}

.social-media-nav__list {
    height: 46px;
    margin-bottom: 60px;
}

.social-media-nav__link {
    display: block;
    height: 46px;
    width: 46px;
    background-size: cover;
}

.social-media-nav__item {
    margin-right: 45px;
}

.social-media-nav__item:first-of-type {
    margin-left: 87px;
}

/*=====================================
TABS
=====================================*/

.tabs-container {
    height: 596px;
    background-color: #fbfbfb;
}

.tabs-container::before {
    content: "";
    display: inline-blck;
    height: 100%;
    vertical-align: middle;
}

.tab-blocks {
    display: inline-block;
    height: 338px;
    width: 112px;
    padding-left: 150px;
    padding-top: 148px;
}

.tab-blocks__block {
    height: 112px;
    width: 112px;
    background-color: #333333;
}

.tab-blocks__block:first-of-type {
    background-color: #FF8B38;
}

.tab-blocks__block:nth-of-type(2) {
    margin-top: 1px;
    margin-bottom: 1px;
}

.tab-blocks__text {
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    line-height: 112px;
}

.tabs-text {
    display: inline-block;
    width: 436px;
    margin-left: 199px;
    margin-bottom: 230px;
    vertical-align: middle;
}

.tabs-text::before {
    content: "";
    display: inline-blck;
    height: 100%;
    vertical-align: middle;
}

.tabs-text__title {
    margin-bottom: 52px;
    color: #000000;
}

.tabs-text__descr {
    font-size: 14px;
    color: #86878B;
}

.tabs-text__descr:first-of-type {
    margin-bottom: 25px;
}

.tabs-text__btn {
    display: inline-block;
    margin-top: 41px;
    padding: 13px 30px;
    background-color: #FF8B38;
    border: 2px solid #FF8B38;
    color: #FFFFFF;
    font-size: 16px;
}

.tabs-city-img {
    display: inline-block;
    height: 253px;
    width: 320px;
    margin-left: 103px;
    margin-top: 171px;
    background: url(../img/city-aside.png) center no-repeat;
}

/*=====================================
WHY THIS IS AWESOME FEATURES SECTION
=====================================*/

.features-container {
    height: 593px;
    background-color: #FFFFFF;
}

.features-main-text {
    padding-top: 109px;
}

.features-main-text__title {
    text-align: center;
    color: #212121;
}

.features-main-text__underline {
    margin: 30px auto;
    background-color: #FF8D2D;
}

.features-main-text__descr {
    text-align: center;
    color:#86878B;
}

.features-cards {
    padding-top: 80px;
    text-align: center;
}

.features-card {
    display: inline-block;
    height: 197px;
    width: 350px;
    font-size: 0;
}

.features-card__icon {
    width: 68px;
    height: 68px;
    margin: 0 auto;
    border: 2px solid #FF8D2D;
    border-radius: 50%;
    font-size: 28px;
    color: #FF8D2D;
}

.features-card__title {
    padding: 25px 0;
    font-size: 20px;
    color: #212121;
    text-align: center;
}

.features-card__descr {
    width: 350px;
    height: 57px;
    margin: 0 auto;
    font-size: 14px;
    color: #86878B;
    text-align: center;
}

.lightbulb-icon {
    background: url(../img/icons/lightbulb.png) center no-repeat;
    background-size: 30px 30px;
}

.keyboard-icon {
    background: url(../img/icons/keyboard.png) center no-repeat;
    background-size: 30px 30px;
}

.keyboard-icon {
    background: url(../img/icons/keyboard.png) center no-repeat;
    background-size: 30px 30px;
}

.lightning-bolt-icon {
    background: url(../img/icons/lightning-bolt.png) center no-repeat;
    background-size: 30px 30px;  
}

/*=====================================
PRICING SECTION
=====================================*/

.pricing-container {
    height: 884px;
    background-color:#fbfbfb;
}

.pricing-main-text {
    padding-top: 109px;
}

.pricing-main-text__title {
    text-align: center;
    color: #212121;
}

.pricing-main-text__underline {
    margin: 30px auto;
    background-color: #FF8D2D;
}

.pricing-main-text__descr {
    text-align: center;
    color:#86878B;
}

.pricing-cards-container {
    height: 497px;
    width: 100%;
    margin: 0 auto;
    padding-top: 80px;
}

.pricing-card-short {
    display: inline-block;
    padding-top: 35px;
    height: 462px;
    width: 343px;
}

.pricing-card-short:first-of-type {
    margin-left: 140px;
}

.pricing-card__title-section {
    height: 59px;
    margin-bottom: 1px;
    background-color: #333333;
}

.pricing-card__title {
    font-size: 20px;
    text-align: center;
    line-height: 59px;
}

.pricing-card__price-section {
    height: 100px;
    margin-bottom: 1px;
    background-color: #333333;
}

.pricing-card__price {
    font-family: 'Raleway', sans-serif;
    font-size: 90px;
    text-align: center;
    vertical-align: bottom;
}

.pricing-card__price::first-letter {
    font-size: 35px;
}

.pricing-card__subtitle-section {
    height: 56px;
    background-color: #333333;
    border-bottom: 5px solid #FF8D2D;
}

.pricing-card-tall .pricing-card__subtitle-section {
    border-bottom: none;
}

.pricing-card-tall .pricing-card__subtitle {
    line-height: 56px;
}

.pricing-card__subtitle {
    font-size: 14px;
    font-style: italic;
    color: #86878B;
    text-align: center;
    line-height: 50px;
}

.pricing-card__descr {
    background-color: #FFFFFF;
}

.pricing-card__descr-item {
    display: block;
    height: 40px;
    width: 343px;
    border-bottom: 0.5px solid #e6e6e6;
    color: #86878B;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    line-height: 40px;
}

.pricing-card__descr-item:last-child {
    border-bottom: none;
}

.pricing-card-tall {
    display: inline-block;
    height: 497px;
    width: 343px;
    margin: auto 40px;
}

.pricing-card__orange-box {
    height: 40px;
    background-color: #FF8B38;
}

.pricing-card__orange-box__title {
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    line-height: 40px;
}

.customer-review-container {
    height: 592px;
    background-color: #FFFFFF;
}

.customer-review-main-text {
    padding-top: 109px;
    padding-bottom: 55px;
}

.customer-review-main-text__title {
    text-align: center;
    color: #212121;
}

.customer-review-main-text__underline {
    margin: 30px auto;
    background-color: #FF8D2D;
}

.customer-review-main-text__descr {
    text-align: center;
    color:#86878B;
}


